<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>Storytime</title>
</head>
<body>
    <div class="logo-container">
        <img width="100%" height="auto" src="{{ url_for('static', filename='images/logo.png') }}" alt="Storytime Logo" />
    </div>

    <form action = "/read" method = "get">
        <button style="background-image: url('{{ url_for('static', filename='images/startButton.png') }}');">
        </button>  
    </form>
</body>
</html>